.techs {
  padding: 100px 70px;
  margin: 0;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  background: #272727;
}

.techs__title {
  margin: 90px auto 0 auto;
  padding: 0;
  text-align: center;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
}

.techs__subtitle {
  margin: 26px auto 0 auto;
  padding: 0;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.56px;
  max-width: 460px;
}

.techs__technologies {
  margin: 100px 0 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(7, 90px);
  justify-content: center;
  column-gap: 10px;
  list-style: none;
}

.techs__technology {
  margin: 0;
  padding: 21px 0 22px 0;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
  border-radius: 10px;
  background: #303030;
}

@media screen and (max-width:1100px) {
  .techs {
    padding: 90px 50px;
    margin: 0;
  }

  .techs__title {
    margin-top: 80px;
  }

  .techs__subtitle {
    margin-top: 22px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.48px;
  }

  .techs__technologies {
    margin-top: 83px;
    grid-template-columns: repeat(7, 84px);
  }

  .techs__technology {
    padding: 21px 0;
    font-size: 12px;
    letter-spacing: -0.48px;
  }
}

@media screen and (max-width:730px) {
  .techs {
    padding: 70px 18px;
  }

  .techs__title {
    margin-top: 60px;
    font-size: 30px;
    line-height: normal;
    letter-spacing: -1.2px;
  }

  .techs__subtitle {
    margin-top: 24;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -0.44px;
    max-width: 292px;
  }

  .techs__technologies {
    margin-top: 50px;
    grid-template-columns: repeat(2, 84px);
    row-gap: 10px;
  }

  .techs__technology {
    margin: 0;
    padding: 21px 0 22px 0;
    font-size: 12px;
    letter-spacing: -0.48px;
  }
}
